$def with(alumnos, message)
<h3>
    <a href="/alumnos">alumnos</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_alumno" id="id_alumno" value="$alumnos.id_alumno" />

    <div class="form-group">
    <label for="nombre">nombre</label>
    <input required id="nombre" type="text" class="form-control" name="nombre" size="30" value="$alumnos.nombre"/>
</div><div class="form-group">
    <label for="telefono_alum">telefono_alum</label>
    <input required id="telefono_alum" type="text" class="form-control" name="telefono_alum" size="30" value="$alumnos.telefono_alum"/>
</div><div class="form-group">
    <label for="telefono_tutor">telefono_tutor</label>
    <input required id="telefono_tutor" type="text" class="form-control" name="telefono_tutor" size="30" value="$alumnos.telefono_tutor"/>
</div><div class="form-group">
    <label for="direccion">direccion</label>
    <input required id="direccion" type="text" class="form-control" name="direccion" size="30" value="$alumnos.direccion"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </div>
</form>
<br>
<br>
<br>